:root {
  --color-texto2: #fff8f0;
  --color-texto: #333;
  --color-primario: #633B1A;
  --color-secundario: #D2691E;
  --color-acento: #FF7F50;
  --color-cajas: #ffd6a0;
}

/*Estilos generales*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--color-texto2);
  color: var(--color-texto);
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-texto2);

}

.tituloh2 {
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
  font-size: 33px;
  color: var(--color-texto); 
}

.row {
  display: flex;
  flex-wrap: wrap;
  max-width: 70%;
  margin: 0 auto 10px;
  line-height: 30px;
  font-size: 18px;
}

.col {
  width: 50%;
  padding: 20px;
}


/*HEADER*/
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(46, 26, 5, 0.9);
  transition: all 0.3s ease;
}

.header-todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo img {
  width: 120px;
  height: 70px;
}

.nav-menu {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
}

li a {
  color: var(--color-texto2);
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem 0;
}

li a:hover {
  color: var(--color-acento);
  text-decoration: underline;
  transition: all 0.5s ease;
}


/*INTRODUCCION*/
.introduccion {
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://www.diputaciondezamora.es/opencms/export/sites/dipu-zamora/.Archivos/imagenes/provincia/nuestros-ayuntamientos/fresno-de-la-polvorosa.jpg_1058435998.jpg');
  background-size: cover;
  background-attachment: fixed;
  color: var(--color-texto2);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 80px;
}

.introduccion-contenido {
  max-width: 800px;
  padding: 50px;
}

.introduccion-contenido h1 {
  font-size: 55px;
  text-shadow: 4px 4px 4px rgba(0,0,0,1);
}

.introduccion-contenido p {
  font-size: 20px;
  text-shadow: 4px 4px 4px rgba(0,0,0,1);
  margin-top: 10px;
  margin-bottom: 40px;
}

.btn-primario {
  background-color: var(--color-secundario);
  color: var(--color-texto2);
  padding: 15px 20px;
  font-size: 17px;
  border-radius: 30px;
  cursor: pointer;
  text-decoration: none;
}

.btn-primario:hover {
  background-color: var(--color-primario);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  font-size: 18px;
  transition: all 0.4s ease;
}


/*EL PUEBLO*/
.pueblo {
  padding: 2rem 4rem;
}

.pueblo-contenedor {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: flex-start;
}

.pueblo-texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 1.1rem;
  color: var(--color-texto);
  line-height: 30px;
}

.texto-sobre {
  max-width: 60%;
}

.pueblo-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 2rem;
}

.card-pueblo {
  background: var(--color-cajas);
  padding: 20px;
  width: 200px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.15);
  transition: transform 0.3s ease;
}

.card-pueblo:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 22px rgba(0,0,0,0.25);
}

.icono {
  font-size: 40px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.card-pueblo h3 {
  color: var(--color-primario);
  margin-bottom: 5px;
  font-size: 20px;
}

.card-pueblo p {
  font-size: 17px;
  color: var(--color-texto);
}

.pueblo-visual {
  width: 100%;
  gap: 1rem;
  display: flex;
  justify-content: center;
}

.mapa {
  width: 50%;
  height: 300px;
}



/*HISTORIA*/

/*LINEA DEL TIEMPO*/
.timeline {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem 0;
}


.line {   /*La raya central*/
  position: absolute; 
  height: 90%;
  left: 50%;
  width: 10px;
  background: var(--color-acento);
}

.timeline-item {
  display: flex;
  justify-content: flex-end; 
  margin: 2rem 0;
  width: 100%;
}

.timeline-item.izq {
  justify-content: flex-end; 
  padding-right: 55%;
}

.timeline-item.der {
  justify-content: flex-start; 
  padding-left: 55%;           
}

.timeline-contenido {
  background: var(--color-cajas);
  padding: 1rem;
  border-radius: 4px;
  max-width: 500px;
}

.timeline-contenido p {
  padding: 10px 0;
  line-height: 25px;
}

.timeline-anio {
  font-weight: bold;
  color: var(--color-secundario);
}





/*SEPARACION DE SECCIONES*/
main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

section {
  border-bottom: 1px solid #ccc;
  padding-bottom: 2rem;
}

.imagenes {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

img {
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
}

video {
  width: 100%;
  max-width: 600px;
  margin-top: 1rem;
  border-radius: 8px;
}



/*FOOTER*/
footer {
  background-color: var(--color-primario);
  color: white;
  text-align: center;
  padding: 1rem;
}

.contenido-footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.seccion-footer {
  width: 50%;
  max-width: 22%;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 0 1rem;
  font-size: 17px;
}

.tituloh4 {
  color: var(--color-acento);
  margin-bottom: 10px;
  font-size: 20px;
}

.links-footer {
  list-style: none;
}

.links-footer li {
  margin-bottom: 10px;
}

.redes-sociales {
  display: flex;             
  justify-content: center;   
  align-items: center;       
  gap: 1rem;                 
}

.redes-sociales img {
  width: 55px;               
  height: 55px;
}

.copy {
  text-align: center;
  padding-top: 1.5rem;
  border-top: 1px solid rgba(255,255,255,0.1);
  font-size: 17px;
}