:root {
  --color-texto2: #fff8f0;
  --color-texto: #333;
  --color-primario: #5C3E21;
  --color-secundario: #D2691E;
  --color-acento: #FF7F50;
  --color-cajas: #ffd6a0;
}

/*Estilos generales*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--color-texto2);
  color: var(--color-texto);
}

h1 {
  font-family: 'Lora', serif;
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-texto2);
}

h3 {
  font-family: 'Lora', serif;
  font-size: 1.5rem;
  font-weight: bold;
}


.contenedor{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.tituloh2 {
  font-family: 'Lora', serif;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
  font-size: 33px;
  color: var(--color-texto); 
}

.row {
  display: flex;
  flex-wrap: wrap;
  max-width: 70%;
  margin: 0 auto 10px;
  line-height: 30px;
  font-size: 16px;
}

.col {
  width: 50%;
  padding: 20px;
}


/*HEADER*/
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(46, 26, 5, 0.9);
  transition: all 0.3s ease;
}

.header-todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo img {
  width: 120px;
  height: 70px;
}

.nav-menu {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
}

li a {
  color: var(--color-texto2);
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem 0;
  font-weight: bold;
}

li a:hover {
  color: var(--color-acento);
  text-decoration: underline;
  transition: all 0.5s ease;
}


/*INTRODUCCION*/
.introduccion {
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://www.diputaciondezamora.es/opencms/export/sites/dipu-zamora/.Archivos/imagenes/provincia/nuestros-ayuntamientos/fresno-de-la-polvorosa.jpg_1058435998.jpg');
  background-size: cover;
  background-attachment: fixed;
  color: var(--color-texto2);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 80px;
}

.introduccion-contenido {
  max-width: 800px;
  padding: 50px;
}

.introduccion-contenido h1 {
  font-size: 55px;
  text-shadow: 4px 4px 4px rgba(0,0,0,1);
}

.introduccion-contenido p {
  font-size: 20px;
  text-shadow: 4px 4px 4px rgba(0,0,0,1);
  margin-top: 10px;
  margin-bottom: 40px;
}

.btn-primario {
  background-color: var(--color-secundario);
  color: var(--color-texto2);
  padding: 15px 20px;
  font-size: 17px;
  border-radius: 30px;
  cursor: pointer;
  text-decoration: none;
}

.btn-primario:hover {
  background-color: var(--color-primario);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  font-size: 18px;
  transition: all 0.4s ease;
}


/*EL PUEBLO*/
.pueblo {
  padding: 2rem 4rem;
}

.pueblo-contenedor {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: flex-start;
}

.pueblo-texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 1.1rem;
  color: var(--color-texto);
  line-height: 30px;
  text-align: justify;
}

.texto-sobre {
  max-width: 60%;
}

.pueblo-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 2rem;
}

.card-pueblo {
  background: var(--color-cajas);
  padding: 20px;
  width: 200px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.15);
  transition: transform 0.3s ease;
}

.card-pueblo:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 22px rgba(0,0,0,0.25);
}

.icono {
  font-size: 40px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.card-pueblo h3 {
  color: var(--color-primario);
  margin-bottom: 5px;
  font-size: 20px;
}

.card-pueblo p {
  font-size: 17px;
  color: var(--color-texto);
}

.pueblo-visual {
  width: 100%;
  gap: 1rem;
  display: flex;
  justify-content: center;
}

.mapa {
  width: 50%;
  height: 300px;
}



/*HISTORIA*/

/*LINEA DEL TIEMPO*/
.timeline {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem 0;
}


.line {   /*La raya central*/
  position: absolute; 
  height: 90%;
  left: 50%;
  width: 10px;
  background: var(--color-acento);
}

.timeline-item {
  display: flex;
  justify-content: flex-end; 
  margin: 2rem 0;
  width: 100%;
}

.timeline-item.izq {
  justify-content: flex-end; 
  padding-right: 55%;
}

.timeline-item.der {
  justify-content: flex-start; 
  padding-left: 55%;           
}

.timeline-contenido {
  background: var(--color-cajas);
  padding: 1rem;
  border-radius: 4px;
  max-width: 500px;
}

.timeline-contenido p {
  padding: 10px 0;
  line-height: 25px;
}

.timeline-anio {
  font-weight: bold;
  color: var(--color-secundario);
}



/*GALERIA*/
.carrusel {
  display: flex;
  flex-wrap: nowrap;
  overflow:scroll;
}

.elementos-carrusel {
  flex: 1 0 auto;
  margin: 0 50px;
  width: 500px;
  height: 500px;
  text-align: center;
}

.elementos-carrusel img {
  width: 500px;
  height: 380px;
}

.elementos-carrusel p {
  font-size: 1.1rem;
  color: var(--color-texto);
  margin-top: 15px;
  font-weight: bold;
}

.galeria-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 2rem;
}

.card-galeria {
  background: var(--color-cajas);
  padding: 20px;
  width: 380px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.15);
  transition: transform 0.3s ease;
}

.card-galeria:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 22px rgba(0,0,0,0.25);
}

.card-galeria h3 {
  color: var(--color-primario);
  margin-bottom: 5px;
  margin-top: 15px;
  font-size: 20px;
}

.galeria-cards img {
  height: 380px;
}

.video-container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 40px;
  position: relative;
}

.video-container img {
  width: 100%;
  max-width: 700px;
}

.texto-hover {
  position: absolute;
  bottom: 10px;
  left: 46%;
  background-color: rgba(0,0,0,0.7);
  color: white;
  padding: 8px 12px;
  font-size: 1rem;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.video-container:hover .texto-hover {
  opacity: 1;
}

/*SEPARACION DE SECCIONES*/
main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  text-align: justify;
}

section {
  border-bottom: 1px solid #ccc;
  padding-bottom: 2rem;
}

img {
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
}

#facebook {
  width: 45px;
  height: 45px;
}





/*FOOTER*/
footer {
  background-color: var(--color-primario);
  color: white;
  text-align: center;
  padding: 1rem;
}

.contenido-footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.seccion-footer {
  width: 50%;
  max-width: 22%;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 0 1rem;
  font-size: 17px;
}

.tituloh4 {
  color: var(--color-acento);
  margin-bottom: 10px;
  font-size: 20px;
}

.links-footer {
  list-style: none;
}

.links-footer li {
  margin-bottom: 10px;
}

.redes-sociales {
  display: flex;             
  justify-content: center;   
  align-items: center;       
  gap: 1rem;                 
}

.redes-sociales img {
  width: 55px;               
  height: 55px;
}

.copy {
  text-align: center;
  padding-top: 1.5rem;
  border-top: 1px solid rgba(255,255,255,0.1);
  font-size: 17px;
}



/*MEDIA QUERIES*/

/* Tablets (≤ 992px) */
@media screen and (max-width: 992px) {

  /* Header */
  .header-todo {
    flex-direction: column;
    gap: 1rem;
  }
  .nav-menu {
    flex-wrap: wrap;
    justify-content: center;
  }

  /* Pueblo */
  .pueblo-contenedor {
    flex-direction: column;
    align-items: center;
  }
  .texto-sobre {
    max-width: 90%;
  }
  .pueblo-cards {
    justify-content: center;
  }
  .card-pueblo {
    width: 45%;   
  }

  /* Historia */
  .row {
    flex-direction: column;
    max-width: 90%;
  }
  .col {
    width: 100%;
  }

  .line {   /*La raya central*/
  position: absolute; 
  height: 90%;
  left: 10%;
  width: 10px;
  background: var(--color-acento);
}

  .timeline-item.izq,
  .timeline-item.der {
    justify-content: flex-start;
    padding: 0;
    margin-left: 15%;
    font-size: 17px;
  }
  .timeline-contenido {
    max-width: 80%;
  }

  /* Tradiciones */
  .tradiciones .row {
    flex-direction: column;
    max-width: 90%;
  }
  .tradiciones .col {
    width: 100%;
  }

  /* Galería */
  .video-container img {
    max-width: 500px;
  }

  /* Footer */
  .contenido-footer {
    flex-direction: column;
    align-items: center;
  }
  .seccion-footer {
    max-width: 90%;
    text-align: center;
  }
}

/* Móviles (≤ 576px) */
@media screen and (max-width: 576px) {

  /* Header */
  .logo img {
    width: 90px;
    height: auto;
  }
  .nav-menu {
    gap: 0.5rem;
  }


  /* Pueblo */
  .texto-sobre {
    max-width: 100%;
    font-size: 1rem;
  }
  .card-pueblo {
    width: 100%; 
  }

  /* Historia */
  .timeline-item.izq,
  .timeline-item.der {
    justify-content: flex-start;
    padding: 0;
    margin-left: 15%;
    font-size: 15px;
  }
  .timeline-contenido {
    max-width: 70%;
  }

  /* Tradiciones */
  .tradiciones .col {
    padding: 10px;
    font-size: 0.95rem;
  }

  /* Galería */
  .card-galeria {
    width: 100%; 
    max-width: 280px;
  }
  .galeria-cards img {
    height: auto;
    max-height: 200px;
  }
  .video-container img {
    max-width: 300px;
  }

  /* Footer */
  .seccion-footer {
    width: 100%;
    font-size: 15px;
  }
  .redes-sociales img {
    width: 40px;
    height: 40px;
  }
}
