*{
    margin: 10px;  /*Cambaria esta linea a 40px*/
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #d2ebcd;
    font-family: 'Times New Roman', Times, serif;
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
   
}


/*HEADER*/
header{
    background-color: #3B5336;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.logo a{
    font-size: 23px;
    color: white;
}

.logo img{
    width: 100px;
    height: 100px;
    padding: 20px 20px;
}


nav{
    display: flex;
    width: 20%;
    justify-content:space-around;
    flex-wrap: wrap;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.cont{
    display: flex;
    justify-content: center;
}

.imagen-header{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.imagen-header img{
    width: 100%;
}


/*MAIN*/
h1, h2, h3{
    color: #3B5336;
}

main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


/*GALERIA*/
.section-galeria{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 50px;
    justify-items: center;
}

.galeria{
    grid-column: span 8;
}

.section-galeria h2{
    grid-column: 1/2;
}

.galeria img {
    border-radius: 7px;
    width: 190px;
    height: 150px;
}


/*FIESTAS*/

article img{
    display: flex;
    width: 70%;
    height: 30%;
    align-self: center;
}
.section-fiestas h2{
    display: flex;
    align-self: flex-start;
}


.contenedor-fiestas{
    display: flex;
    flex-direction: row;
    justify-content: center;
}   

article{
    border: 4px solid black;
    width: 48%;
    display: flex;
    flex-direction: column;
}


/*CRISTO*/
.section-cristo{
    border: 4px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contenedor-cristo{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-align: justify;
}

.section-cristo img{
    width: 250px;
    height: 200px;
}


/*FOOTER*/
footer{
    background-color: #3B5336;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    color: white;
}

footer img{
    width: 30px;
    height: 30px;
}


/*MEDIA QUERY*/

@media screen and (max-width:993px) {
  
    nav{
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    }


   .section-galeria{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px;
    justify-items: center;
    }

    .galeria{
        grid-column: span 2;
        grid-row: 2/6;
    }

    .galeria img {
        border-radius: 7px;
        width: 270px;
        height: 150px;
    }
 

    article img{
    display: flex;
    width: 90%;
    height: 30%;
    }
    .section-fiestas h2{
        display: flex;
        align-self: flex-start;
    }


    .contenedor-fiestas{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }   

    article{
        border: 4px solid black;
        width: 45%;
        display: flex;
        flex-direction: column;
    }

    .contenedor-cristo{
        flex-direction: row;
    }

}



@media screen and (max-width:576px) {
    

    nav{
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: center;
    } 


    .section-fiestas{
        width: 100%;
    }

    .contenedor-fiestas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }  

    .section-cristo{
    border: 4px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }

    .contenedor-cristo{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify;
    }

    .section-cristo img{
        width: 250px;
        height: 200px;
    }
}