* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

/*Header*/
header {
    background-color: rgb(179, 11, 11);
    color: aliceblue;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 60px;
    height: 70px;
    margin-right: 10px;
    margin-left: 10px;
 }

 
header nav {
    padding: 30px;
}

 header nav ul{
    background-color: rgb(94, 7, 7);
    display: flex;
    gap: 50px;
    padding: 15px;
    margin-right: 20px;
 }

 

 header nav a{
    color: aliceblue;
    padding: 30px;
 }

 header nav a:hover{
    color: rgb(219, 103, 103);
    transition: all 0.2s ease-in-out;
 }


/*Main*/
main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
}

/*Articulos*/

section {
    margin: 20px;
}

article {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 20px;
    width: 70%;
}

hr {
    border: solid 1px rgb(0, 0, 0);
    width: 70%;
}

.articulos {
    grid-column: 1/2;
}

.contendor {
    grid-column: 2/3;
}

/*Recángulos*/
.contendor {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    padding: 25px;
    background-color:rgb(216, 114, 114);
}

.rectángulo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rectángulo img{
    width: 550px;
    height: 330px;
}


/*Footer*/
footer {
    background-color: rgb(179, 11, 11);
    color: white;
    padding: 20px;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr auto;
}

footer .contacto {
    font-size: 20px;
    margin-top: 15px;
    grid-column: 1/2;
}

footer .redes {
    display: grid;
    grid-template-columns: 50px 50px;
    gap: 10px;
    grid-column: 2/3;
}

.redes img {
    width: 50px;
    height: 50px;
}