* {
  box-sizing: border-box;
}

.container {
  margin: 0px auto;
  width: 90%;
}

main {
    display: flex;
    flex-wrap: wrap;
}


.gallo, .corzo, .oso {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
    border: 1px solid black;
    padding: 15px 50px;
    
}

img {
  width: 250px;
}