:root {
  --color-texto2: #fff8f0;
  --color-texto: #333;
  --color-primario: #5c3e21;
  --color-secundario: #d2691e;
  --color-acento: #ff7f50;
  --color-cajas: #ffd6a0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--color-texto2);
  color: var(--color-texto);
}

h1 {
  font-family: "Lora", serif;
  font-size: 35px;
  font-weight: bold;
}

h3 {
  font-family: "Lora", serif;
  font-size: 25px;
  font-weight: bold;
}
/* Navbar */
nav {
  background: var(--color-primario);
}

.navbar-brand {
  color: var(--color-texto2);
  font-weight: bold;
}

ul {
  font-weight: bold;
}

/* Carrusel */
.carousel-item img {
  height: 600px;
  object-fit: cover;
  object-position: center 60%;
}

.carousel-caption {
  background: rgba(255, 214, 160, 0.75);
  width: auto;
  bottom: 1.5rem;
  border-radius: 8px;
  padding: 1rem 1.5rem;
  color: var(--color-secundario);
}

.carousel-caption h5 {
  font-weight: bold;
}

/* Hero */
.hero-row {
  min-height: 100vh;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url("https://www.diputaciondezamora.es/opencms/export/sites/dipu-zamora/.Archivos/imagenes/provincia/nuestros-ayuntamientos/fresno-de-la-polvorosa.jpg_1058435998.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: var(--color-texto2);
}

.hero-contenido h1 {
  font-size: 55px;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
}

.hero-contenido p {
  font-size: 20px;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 1);
}

.btn-hero {
  background-color: var(--color-secundario);
  color: var(--color-texto2);
  padding: 15px 20px;
  font-size: 17px;
  border-radius: 30px;
  cursor: pointer;
  text-decoration: none;
}

/*Historia*/
.historia {
  text-align: justify;
}

/*Tradiciones*/
.tradiciones {
  text-align: justify;
}

.card-img-top {
  height: 500px;
  object-fit: cover;
}
